<?xml version="1.0"?>
<model>
  <name>Mine UAV with MID360S-like 3D lidar</name>
  <version>1.0</version>
  <sdf version="1.6">iris_mid360_shaft_8m.sdf</sdf>
  <author>
    <name>mine_uav_control</name>
  </author>
  <description>PX4 Iris with a Gazebo 360-degree multi-line ray sensor.</description>
</model>
