<?xml version="1.0"?>
<model>
  <name>24 x 8 x 4 m irregular half-elliptical goaf</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>mine_uav_control</name></author>
  <description>Deterministic grey rock cavern used by Task 1 visual, lidar and collision simulation.</description>
</model>
