<launch>
  <arg name="device" default="/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0" />
  <arg name="baud" default="500000" />
  <arg name="gcs_url" default="" />
  <arg name="fcu_protocol" default="v2.0" />
  <arg name="respawn_mavros" default="false" />

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg device):$(arg baud)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
    <arg name="respawn_mavros" value="$(arg respawn_mavros)" />
  </include>
</launch>
