<launch>
  <!-- Isolated ROS master only: this launch arms a simulated PX4. Both sensor
       adapter and router refuse to operate without /use_sim_time. Depth is
       Gazebo world truth; bottom range may come from a Gazebo ray, not real laser. -->
  <arg name="gui" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="range_drop_after_depth" default="-1.0"/>
  <arg name="depth_drop_after_depth" default="-1.0"/>
  <arg name="bad_sigma_after_depth" default="-1.0"/>
  <arg name="range_source" default="gazebo"/>
  <arg name="required_range_frame"
       default="$(eval 'sitl_downward_range' if arg('range_source') == 'truth' else 'shaft_downward_range')"/>
  <arg name="inject_takeover" default="false"/>
  <arg name="takeover_after_depth" default="6.0"/>
  <arg name="takeover_mode" default="AUTO.LOITER"/>
  <arg name="world" default="$(find mine_uav_control)/worlds/shaft_22m_logic_sitl.world"/>
  <arg name="bottom_top_world_z" default="-20.85"/>
  <arg name="entrance_world_z" default="0.25"/>
  <include file="$(find px4)/launch/mavros_posix_sitl.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="interactive" value="false"/>
    <arg name="vehicle" value="iris"/>
    <arg name="sdf" value="$(find mine_uav_control)/models/iris_mid360/iris_mid360.sdf"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="1.15"/>
    <arg name="fcu_url" value="udp://:14540@localhost:14557"/>
  </include>
  <node pkg="mine_uav_control" type="sitl_localization_adapter.py"
        name="sitl_localization_adapter" output="screen" required="true"/>
  <group if="$(arg rviz)">
    <!-- Display-only transforms; never used as a PX4 localization input. -->
    <node pkg="mine_uav_control" type="sitl_shaft_rviz_frames.py"
          name="sitl_shaft_rviz_frames" output="screen"/>
    <node pkg="rviz" type="rviz" name="task2_rviz" output="screen"
          args="-d $(find mine_uav_control)/rviz/task2_shaft_sitl.rviz"/>
  </group>
  <node pkg="mine_uav_control" type="sitl_shaft_sensor_adapter.py"
        name="sitl_shaft_sensor_adapter" output="screen" required="true">
    <param name="bottom_top_world_z" value="$(arg bottom_top_world_z)"/>
    <param name="entrance_world_z" value="$(arg entrance_world_z)"/>
    <param name="stop_range_after_depth" value="$(arg range_drop_after_depth)"/>
    <param name="stop_depth_after_depth" value="$(arg depth_drop_after_depth)"/>
    <param name="bad_sigma_after_depth" value="$(arg bad_sigma_after_depth)"/>
    <param name="range_source" value="$(arg range_source)"/>
  </node>
  <node pkg="mine_uav_control" type="sitl_shaft_release_pad.py"
        name="sitl_shaft_release_pad" output="screen" required="true"/>
  <node pkg="mine_uav_control" type="sitl_task_operator.py"
        name="sitl_task_operator" output="screen" required="true">
    <param name="allow_auto_arm" value="true"/>
    <param name="auto_enable_delay" value="8.0"/>
    <param name="task_switch_pwm" value="2000"/>
    <param name="bridge_ready_topic" value="/mine_uav/task2/command_ready"/>
  </node>
  <node pkg="mine_uav_control" type="mission_scheduler"
        name="mission_scheduler" output="screen" required="true">
    <rosparam command="load" file="$(find mine_uav_control)/config/mission_scheduler.yaml"/>
    <param name="rc_topic" value="/mine_uav/sitl/rc/in"/>
    <param name="shaft_task_available" value="true"/>
  </node>
  <node pkg="mine_uav_control" type="shaft_mission_node"
        name="shaft_mission_node" output="screen" required="true">
    <rosparam command="load" file="$(find mine_uav_control)/config/shaft_mission_logic.yaml"/>
    <param name="required_depth_source" value="gazebo_world_truth"/>
    <param name="required_range_frame" value="$(arg required_range_frame)"/>
  </node>
  <node pkg="mine_uav_control" type="sitl_shaft_px4_router.py"
        name="sitl_shaft_px4_router" output="screen" required="true"/>
  <group if="$(arg inject_takeover)">
    <node pkg="mine_uav_control" type="sitl_shaft_takeover_injector.py"
          name="sitl_shaft_takeover_injector" output="screen" required="true">
      <param name="trigger_depth" value="$(arg takeover_after_depth)"/>
      <param name="target_mode" value="$(arg takeover_mode)"/>
    </node>
  </group>
</launch>
